<a href="#generators/<%=packageName%>/<%=moduleName%>/<%=name%>" class="list-group-item">
	<p class="lead list-group-item-heading"><b> <%=name%> </b></p>
	<p class="list-group-item-heading"><i><%=packageName%></i>.<%=moduleName%>.<%=name%> <i>by</i> <%=author%></p>
</a>
