<ul id='sidebar'>
<% _.each(app.currentObject.plugins, function(plugin, key) { %>
<li data-pluginname='<%= key %>' class='plugin'><%= key %></li>

	<% var mdls = app.currentObject.plugins[key] %>
	<% for (mdl in mdls) { if(mdl == "metadata") continue; %>
	<li class="module" data-moduleName='<%=mdl%>'><%=mdl%></li>
		<% var curPlugin =  app.currentObject.plugins[key] %>
		<% for (generator in curPlugin[mdl]){ %>
			<li data-generatorName="<%= curPlugin[mdl][generator].name %>" class="generator">
				<%= curPlugin[mdl][generator].name %>
			</li>
		<% } %>

	<% } %>
<% }); %>
</ul>
